
/* Header Section Stylings */
#name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #00008B;
    color: aliceblue;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

nav {
    background-color: #00008B;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#home, #menu, #contact {
    padding: 20px 30px 10px 30px;
    font-size: 25px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
}

#home:hover,
#menu:hover,
#contact:hover {
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid red;
    background-color: #0c0c92;
}

/* Main Section Styling  */
#center-main,
#description-title,
#description,
#serving-hours {
    display: flex;
    justify-content: center;
    background-color: rgba(8, 8, 110, 0.5);
    color:aliceblue;
    font-size: 30px;
    padding: 20px 50px;
}

#center-main {
    font-size: 40px;
    font-weight: bold;
}

#description {
    font-size: 20px;
}

#serving-hours {
    font-size: 20px;
}